{% from 'macros.j2' import head, vega_lib %}
{% extends 'base.html' %}

{% block head %}
    {{ head("this desc", "this title") }}
    {{ vega_lib() }}
{% endblock %}

{% block body %}
    {% for div in divs %}
        {{ div }}
    {% endfor %}
    {% for script in scripts %}
        {{ script }}
    {% endfor %}
{% endblock %}
