{% from 'macros.j2' import head, vega_lib, vega_embed %}
{% extends 'base.html' %}

{% block head %}
    {{ head("Visualizing income inequality as rich-to-poor ratio by GDP", "Income inequality") }}
    {{ vega_lib() }}
{% endblock %}

{% block body %}
    {% for div in divs %}
        {{ div }}
    {% endfor %}
    {% for script in scripts %}
        {{ script }}
    {% endfor %}
    {{ vega_embed() }}
{% endblock %}
