<!DOCTYPE HTML>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ metadata.desc }}">
    <title>{{ metadata.title }}</title>

    {% set deps = [
      'vega@5',
      'vega-lite@4',
      'vega-embed@6',
    ]
    %}
    {% for dep in deps %}
      <script src="https://cdn.jsdelivr.net/npm/{{ dep }}" crossorigin="anonymous">
      </script>
    {% endfor %}

    <style>
    {% include "style.css" %}
    </style>

    {% block head %}
    {% endblock %}

  </head>

  <body>
    <a {% if module_name == 'index' %}style='opacity:0;'{% else %}href="index.html"{% endif %}>go back</a>
    <h1>{{ metadata.title }}</h1>
    <dl>
      <dt>Updated at</dt>
      <dd>{{ updated_at }}</dd>
      {% if metadata.desc %}
        <dt>Description</dt>
        <dd>{{ metadata.desc }}</dd>
      {% endif %}
      {% if metadata.src %}
        <dt>Data source</dt>
        <dd>{{ metadata.src }}</dd>
        <dt>Data downloaded from</dt>
        <dd>
        {% if 'urls' in metadata %}
          <ul class='data-source-url-list'>
          {% for url in metadata.urls %}
            <li><a href="{{ url.url }}">{{ url.name }}</a></li>
          {% endfor %}
          </ul>
        {% else %}
          <a href="{{ metadata.url }}">{{ metadata.url_name }}</a>
        {% endif %}
        </dd>
      {% endif %}
      {% if metadata.chapter %}
        <dt>Book chapter</dt>
        <dd><a href="{{ metadata.chapter_url }}">{{ metadata.chapter }}</a></dd>
      {% endif %}
    </dl>

    {% block body_before_chart %}
    {% endblock %}

    {% if has_chart %}
      <div id="vega-container"></div>
      <script type="text/javascript">
        {% include 'chart.js' %}
        const spec = {{ vega_spec }};
        const options = {{ vega_opt }};
        buildChart(spec, options, {{ 'true' if custom_tooltip else 'false' }});
      </script>
      <div id='custom-tooltip-element'></div>
    {% endif %}

    {% block body %}
    {% endblock %}

  </body>

</html>
