{% extends 'base.j2' %}

{% block head %}
<style>
#table-max-production {
    max-width: 30em;
}
.grid {
    display: grid;
    grid-template-columns: 3em 1.5em 4em 10em 10em 5em 5em;
    margin-top: 1em;
}
.grid-element * {
    display: flex;
    min-height: 0.5em;
}
.grid-element span input {
    max-width: 70%;
}
.grid-element.number,
.grid-element span.balance {
    justify-content: right;
    display: grid;
    margin-right: 0.5em;
}
span.balance.negative {
    background-color: rgba(255, 96, 0, 0.3);
}
span.balance.positive {
    background-color: rgba(104, 255, 0, 0.3);
}
</style>
<script>
{% include 'comparative_advantage.js' %}
</script>
{% endblock %}

{% block body %}
    <table id='table-max-production'>
        <thead>
            <tr>
                <th></th>
                <th colspan="3">Maximum output at 100% effort</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <p>
    Greta has an absolute advantage in production of apples and wheat, but Carlos has a comparative advantage in producing apples.
    </p>

    <h3>Trade simulation</h3>
    <label for='wheat-to-apples-xrate'>Exchange rate, wheat/apples:</label>
    <input type='number' id='wheat-to-apples-xrate' min='1' max='1000' value='40'>
    <div class="grid" id='grid-input'>
    </div>

{% endblock %}
