{% extends 'base.j2' %}

{% block body_before_chart %}
<p class='equations'>
Let <span class="katex-inline">f(h) = \min(m, A h ^ \alpha)</span> be a production function for the final grade, where <span class='katex-inline'>h</span> is the amount of study hours and <span class='katex-inline'>m</span> the maximum grade regardless of study effort.
<span class='katex-inline'>A</span> and <span class='katex-inline'>\alpha</span> are constants.
</p>
<script>{% include 'production_function.js' %}</script>
{% endblock %}
