{% extends 'base.j2' %}

{% block head %}
<style>
:root {
  --emoji-col-width: 5em;
  --input-col-width: 14em;
}

form.vega-bindings .vega-bind label.inputs-header {
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}
form.vega-bindings .vega-bind label.inputs-header span {
    font-weight: bold;
}
form.vega-bindings .vega-bind label {
    display: grid;
    grid-template-columns: var(--emoji-col-width) var(--input-col-width) 3em;
}
form.vega-bindings .vega-bind button.randomize-button {
    width: var(--input-col-width);
    margin-top: 0.5rem;
    margin-left: var(--emoji-col-width);
}
form.vega-bindings .vega-bind label:not(.inputs-header) span:not(.vega-bind-name) {
    justify-content: right;
    display: grid;
}
form.vega-bindings .vega-bind label:not(.inputs-header) span.vega-bind-name {
    font-size: 1.5rem;
}
</style>
<script>
{% include 'wealth_distribution.js' %}
</script>
{% endblock %}
